@import "../../config";

.person-list {
  .person-list-letter-title {
    .md-subheader-inner {
      font-size: 16px;
      font-weight: bold;
      color: $color12;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  .person-list-letter {
    .person-list-item {
      position: relative;
      width: 100%;
      height: 56px;
      padding: 0 12px 0 24px;
      cursor: pointer;

      &:hover {
        background-color: $color20;
        outline-width: 0;
      }

      &:focus {
        outline-width: 0;
      }

      &.select {
        background-color: $color20;
        outline-width: 0;
      }

      .avatar-field {
        position: relative;
        width: 40px;
        height: 40px;
        margin-right: 16px;
        outline-width: 0;

        .person-marked {
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.54);
          pointer-events: none;

          ng-md-icon {
            fill: #ffffff;
          }
        }
      }

      .image {
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }

      .initials {
        font-size: 16px;
        font-weight: bold;
      }

      .name-field {
        position: relative;
        width: calc(100% - 56px);
        height: 22px;
        font-size: 16px;
        color: $color01;
        -webkit-user-select: none;

        .name {
          display: block;
          position: relative;
          width: calc(100% - 36px);
          height: 22px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .personInBlackList {
          color: rgba(0, 0, 0, 0.38);
        }

        ng-md-icon {
          position: relative;
          width: 24px;
          height: 24px;
          margin-left: 12px;
          padding: 0;
          fill: rgba(0, 0, 0, 0.54);
        }
      }
    }
  }
}
