<section class="mail-folders"
	layout="row"
	layout-align="start end">
	<div class="folders-list">
		<div class="folders-list-toolbar">
			<div ng-if="$ctrl.mode === 'show'" 
				layout="row" layout-align="space-between center"
				class="toolbar-content">
				<span>Folders</span>
				<md-menu md-position-mode="target-right target"
					md-offset="0 10">
					<md-button aria-label="open folder action menu"
						class="menu-btn"
						ng-click="$ctrl.openMenu($mdMenu, $event)">
						<ng-md-icon icon="more_vert"></ng-md-icon>
					</md-button>
					<md-menu-content>
						<md-menu-item class="folders-menu-item">
							<md-button ng-click="$ctrl.runEditFolder()">
								Create folder
							</md-button>
						</md-menu-item>
						<md-menu-item class="folders-menu-item">
							<md-button ng-click="$ctrl.runEditFolder($ctrl._cacheSrv.folders.list[$ctrl._cacheSrv.folders.selectId])"
								ng-disabled="$ctrl._cacheSrv.folders.list[$ctrl._cacheSrv.folders.selectId].isSystem">
								Edit folder
							</md-button>
						</md-menu-item>
						<md-menu-item class="folders-menu-item">
							<md-button ng-click="$ctrl.delFolder($event)"
								ng-disabled="$ctrl._cacheSrv.folders.list[$ctrl._cacheSrv.folders.selectId].isSystem">
								Delete folder
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</div>
			<div ng-if="$ctrl.mode !== 'show'" 
				layout="row" layout-align="space-between center"
				class="toolbar-content">
				<input type="text" 
					ng-model="$ctrl.editFolder.folderName" 
					id="editFolder"
					ng-keyup="$ctrl.preSaveCreateFolder($event)">
				<md-button class="md-icon-button ok" 
					ng-if="$ctrl.editFolder.folderName.length > 0"
					ng-click="$ctrl.runSaveEditFolder()"
					aria-label="save created folder">
					<ng-md-icon icon="done" size="24"></ng-md-icon>
				</md-button>
				<md-button class="md-icon-button cancel" 
					ng-click="$ctrl.cancelCreateFolder()"
					aria-label="cancel created folder">
					<ng-md-icon icon="clear" size="24"></ng-md-icon>
				</md-button>
			</div>
		</div>
		<div class="folders-list-body">
			<div ng-repeat="(key, folder) in $ctrl._cacheSrv.folders.list track by folder.folderId | orderBy:'orderNum'"
				layout="row" layout-align="start center"
				ng-click="$ctrl.selectFolder(folder.folderId)"
				class="folders-list-item"
				ng-class="{selectFolder: folder.folderId === $ctrl._cacheSrv.folders.selectId, systemFolder: folder.isSystem}">
				<ng-md-icon icon="{{folder.icon}}"></ng-md-icon>
				<div class="item-name">
					{{folder.folderName}}&nbsp;
					<span ng-if="folder.messageIds.length > 0">
						({{folder.messageIds.length}})
					</span>
				</div>
				<div ng-if="folder.qtNoRead > 0" 
					class="item-qt">
					{{folder.qtNoRead}}
				</div>
			</div>
		</div>

	</div>
	<div ui-view class="folder-content">
	</div>
</section>