<section class="folder-item">
  <div class="avatar-wrap">
    <div layout="row"
      layout-align="center center"
      ng-style="{'background-color': $ctrl.item.color}"
      class="avatar hexMask">
      {{$ctrl.item.initials | uppercase}}
    </div>
  </div>
  <div class="content-wrap">
    <div class="info01">
      <div class="contact"
        ng-class="{noRead: !$ctrl.item.isRead}">
       {{$ctrl.contact}}
      </div>
      <div layout="row"
        layout-align="end center"
        class="flags">
        <ng-md-icon icon="call_split"
          md-colors="{fill: 'green-500'}"
          ng-if="$ctrl.item.isReply">
        </ng-md-icon>
        <ng-md-icon icon="label_outline"
          md-colors="{fill: 'green-500'}"
          ng-if="$ctrl.item.labels.length > 0">
        </ng-md-icon>
        <ng-md-icon icon="attach_file"
          md-colors="{fill: 'deep-orange-500'}"
          ng-if="$ctrl.item.isAttached">
        </ng-md-icon>
        <ng-md-icon icon="lens"
          md-colors="{fill: 'blue-500'}"
          ng-if="($ctrl.item.isOut === false) && ($ctrl.item.isRead === false) && ($ctrl.item.isReply === false)">
        </ng-md-icon>  
        <ng-md-icon icon="panorama_fisheye"
          md-colors="{fill: 'blue-500'}"
          ng-if="($ctrl.item.isOut === false) && ($ctrl.item.isRead === true) && ($ctrl.item.isReply === false)">
        </ng-md-icon>
      </div>
    </div>
    <div class="info02">
      <div class="subj" 
        ng-class="{'subj_no': $ctrl.item.subject === ''}">
        {{($ctrl.item.subject !== "") ? $ctrl.item.subject : "No subject"}}
      </div>
      <div class="time">
        {{$ctrl.msgTime}}
      </div>
    </div>
    <div class="info03">
      {{$ctrl.item.body}}
    </div>
  </div>
</section>