@import "../../config";
.attach-block {
  
  .btn-group {
    position: relative;
    width: 72px;
    padding-top: 4px;

    .disabled {
      pointer-events: none;
    }

    button[aria-label="attach"] {
      min-width: 40px;
      width: 40px;
      min-height: 40px;
      height: 40px;
      margin: 8px 16px;
      background-color: rgb(254, 254, 254);

      ng-md-icon {
        fill: $color12;
      }
    }

  }

  .attach-group {
    position: relative;
  }


}