<section class="folder"
  ng-class="{folderIsLocked: $ctrl.formIsLocked}"
  layout="row"
  layout-align="start stretch" 
  ng-cloak>
  <section class="folder-content"
    layout="column"
    layout-align="start stretch">
    <div class="folder-selected"
      ng-class="{systemFolder: $ctrl.folder.isSystem, otherFolder: !$ctrl.folder.isSystem}"
      layout="row"
      layout-align="start center">
      <ng-md-icon icon="folder_open" size="24"></ng-md-icon>
      <span class="folder-name">
        <span class="folder-name-map">          
          {{$ctrl.folder.folderName}}
        </span>
        <span ng-if="$ctrl.folder.messageIds.length > 0">
           ({{$ctrl.folder.messageIds.length}})
        </span>
      </span>
      <span ng-if="$ctrl.nFolder.itself.qtNoRead > 0"
        class="folder-no-read">
        {{$ctrl.folder.qtNoRead}}
      </span>      
    </div>
    <div class="msg-list" 
      layout="column"
      layout-align="start stretch">
      <div ng-repeat="(id, msg) in $ctrl.nFolder.content | toArray | orderBy: '-timeCr'" 
        class="msg-list-item"
        ng-class="{selMsg: $ctrl.$stateParams.msgId === msg.msgId}"
        ng-click="$ctrl.msgSelect(msg.msgId)"
        ng-dblclick="$ctrl.editMsg()"
        hm-press="$ctrl.editMsg()"
        layout="row"
        layout-align="stretch stretch">
        <msg-list-item msg-map="msg"></msg-list-item>
      </div>
    </div>
  </section>

  <section class="msg-content" 
    ng-cloak>
    <md-toolbar ng-if="$ctrl.$stateParams.folderId === $ctrl.sysFolders.outbox"
      class="msg-action" 
      layout="row" 
      layout-align="space-between center" 
      ng-cloak>
      <md-progress-linear ng-if="$ctrl.cacheSrv.messages.selectId !== null"
        md-mode="determinate"
        value="{{$ctrl.cacheSrv.messages.sendStatus}}"
        class="msg-send-status">
      </md-progress-linear>
      <md-button ng-if="$ctrl.cacheSrv.messages.selectId !== null"
        class="md-raised btnRed"
        aria-label="cancel"
        ng-click="$ctrl.cancelSendMsg()">
        CANCEL
      </md-button>
    </md-toolbar>
    <md-toolbar ng-if="$ctrl.$stateParams.folderId !== $ctrl.sysFolders.outbox"
      class="msg-action" 
      layout="row" 
      layout-align="space-between end" 
      ng-cloak>
      <div ng-hide="($ctrl.cacheSrv.messages.selectMode === 'create') || (($ctrl.cacheSrv.messages.selectMode === 'edit') && ($ctrl.$stateParams.folderId === $ctrl.sysFolders.draft))" 
        ng-cloak>
        <md-button class="md-raised btnBlue" 
          ng-click="$ctrl.newMsg()" 
          aria-label="new_msg">
          NEW MAIL
        </md-button>
        <md-button class="md-raised mini"
          ng-click="$ctrl.resfresh()" 
          aria-label="refresh_msg">
          <ng-md-icon icon="loop" 
            size="24">
          </ng-md-icon> 
        </md-button>
      </div>
      <div ng-show="($ctrl.cacheSrv.messages.selectMode === 'create') || (($ctrl.cacheSrv.messages.selectMode === 'edit') && ($ctrl.$stateParams.folderId === $ctrl.sysFolders.draft))" 
        ng-cloak>
        <md-button class="md-raised btnGreen" 
          ng-click="$ctrl.sendMsg($event)"
          aria-label="send">
          SEND
        </md-button>
        <md-button class="md-raised btnBlue"
          ng-click="$ctrl.saveMsgInDraft($event)"
          aria-label="save">
          SAVE TO DRAFT
        </md-button>
      </div>

      <div class="btn-group-02" 
        layout="row" 
        layout-align="end center"
        ng-show="($ctrl.$stateParams.msgId !== undefined) && ($ctrl.$stateParams.msgId !== null) && ($ctrl.cacheSrv.messages.selectMode === 'show')"
        ng-cloak>
        <md-button ng-show="!$ctrl.message.list[$ctrl.cacheSrv.messages.selectId].isOut"
          class="md-raised mini" 
          aria-label="reply_msg" 
          ng-click="$ctrl.replyMsg()">
          <ng-md-icon icon="reply" 
            size="24">
          </ng-md-icon> 
        </md-button>        
        <md-button ng-show="!$ctrl.message.list[$ctrl.cacheSrv.messages.selectId].isOut"
          class="md-raised mini" 
          aria-label="reply-all_msg" 
          ng-click="$ctrl.replyMsgAll()">
          <ng-md-icon icon="reply_all" 
            size="24">
          </ng-md-icon> 
        </md-button>
        <md-button ng-show="$ctrl.$stateParams.folderId !== $ctrl.sysFolders.draft"
          class="md-raised mini" 
          aria-label="forward_msg" 
          ng-click="$ctrl.forwardMsg()">
          <ng-md-icon icon="forward" 
            size="24">
          </ng-md-icon> 
        </md-button>
        <md-menu md-offset="0 48">
          <md-button class="md-raised midi" 
            aria-label="menu_msg" 
            ng-click="$ctrl.openMsgMenu($mdOpenMenu, $event)">
            <ng-md-icon icon="move_to_inbox" 
              size="24">
            </ng-md-icon>
            <ng-md-icon icon="arrow_drop_down" 
              size="24">
            </ng-md-icon>  
          </md-button>
          <md-menu-content with="4">
            <md-menu-item>
              <md-button ng-click="$ctrl.moveMsg()">
                Move message
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="$ctrl.saveAsMsg('html')">
                Save as html
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="$ctrl.saveAsMsg('text')">
                Save as plain text
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>               
      </div>
  
      <div class="btn-group-03" 
        layout="row" 
        layout-align="end center">
        <md-button ng-show="($ctrl.$stateParams.msgId !== undefined) && ($ctrl.$stateParams.msgId !== null) && ($ctrl.cacheSrv.messages.selectMode === 'show')"
          class="md-raised mini btnRed"
          aria-label="del_msg"
          ng-click="$ctrl.deleteMsg()"
          ng-cloak>
          <ng-md-icon icon="delete" 
            size="24">
          </ng-md-icon> 
        </md-button>
        <md-button ng-show="($ctrl.cacheSrv.messages.selectMode === 'create') || (($ctrl.cacheSrv.messages.selectMode === 'edit') && ($ctrl.$stateParams.folderId === $ctrl.sysFolders.draft))"
          class="md-raised btnRed"
          ng-click="$ctrl.cancelCreateMsg()"
          aria-label="cancel">
          CANCEL
        </md-button>
      </div>
    </md-toolbar>

    <md-content ng-if="$ctrl.cacheSrv.messages.selectMode !== 'hide'"
      class="msg-field" 
      ui-view>
    </md-content>

    <section ng-if="$ctrl.cacheSrv.messages.selectMode === 'hide'"
      layout="column"
      layout-align="center center"
      class="noMsg">
      <div class="noMsg-img01"></div>
      <!--<div class="noMsg-shadow"></div>-->

      <!--<div class="noMsg-img hex2Mask"></div>-->
      <!--<div class="noMsg-text">No letter chosen</div>-->
    </section>

  </section>

</section>