<section class="msg-item" 
  layout="row"
  layout-align="space-between stretch">
  <div class="msg-list-item-logo" 
    layout="row"
    layout-align="center center">
    <div class="hexMask logo" 
      layout="row"
      layout-align="center center"
      style="background-color: {{$ctrl.msgMap.color}}">
      {{$ctrl.msgMap.initials}}
    </div>
  </div>
  <div class="msg-list-item-info"
    layout="column"
    layout-align="start stretch">
      <div class="info-01" 
        ng-class="{msgNoRead: !$ctrl.msgMap.isRead}"
        layout="row"
        layout-align="space-between center">
        <div class="info-01-name">
          <span class="lopped">
            {{$ctrl.msgMap.mailAddress + (($ctrl.msgMap.isGroup) ? " +..." : "")}}
          </span>
        </div>
        <div class="info-01-flags" 
          layout="row"
          layout-align="end center">
          <ng-md-icon icon="attach_file"
            size="20"
            md-colors="{fill: 'deep-orange-500'}"
            ng-if="$ctrl.msgMap.isAttached"
            class="flag-left">
          </ng-md-icon>
          <ng-md-icon icon="label_outline"
            size="20"
            md-colors="{fill: 'green-500'}"
            ng-if="$ctrl.msgMap.labels.length > 0"
            class="flag-middle">
          </ng-md-icon>
          <ng-md-icon icon="lens"
            size="20"
            md-colors="{fill: 'blue-500'}"
            ng-if="($ctrl.msgMap.isOut === false) && ($ctrl.msgMap.isRead === false) && ($ctrl.msgMap.isReply === false)"
            class="flag-right">
          </ng-md-icon>               
          <ng-md-icon icon="panorama_fisheye"
            size="20"
            md-colors="{fill: 'blue-500'}"
            ng-if="($ctrl.msgMap.isOut === false) && ($ctrl.msgMap.isRead === true) && ($ctrl.msgMap.isReply === false)"
            class="flag-right">
          </ng-md-icon>
          <ng-md-icon icon="call_split"
            size="20"
            md-colors="{fill: 'green-500'}"
            ng-if="$ctrl.msgMap.isReply"
            class="flag-right">
          </ng-md-icon>
        </div>
      </div>
      <div class="info-02" 
        layout="row" 
        layout-align="start center"
        ng-class="{msgNoRead: !$ctrl.msgMap.isRead}">
        <span ng-if="$ctrl.isToday()" 
          class="msgTime">
          {{$ctrl.msgMap.timeCr | date:"HH:mm"}}
        </span>
        <span ng-if="!$ctrl.isToday()" 
          class="msgTime">
          {{$ctrl.msgMap.timeCr | date:"dd MMM"}}
        </span>       
        <span class="lopped">
          {{$ctrl.msgMap.subject}}
        </span>
      </div>
      <div class="info-03"
        layout="row" 
        layout-align="start center">
        <span class="lopped">
          {{$ctrl.msgMap.body}}
        </span>
      </div>
  </div>
</section>