<section class="app-chat-content">
  <div class="app-chat-content__title">
    <md-progress-linear ng-if="$ctrl.isWait"
      class="app-chat-content__title-progress"
      md-mode="indeterminate">
    </md-progress-linear>

    <div class="app-chat-content__title-avatar"
      ng-class="{'hex2Mask': $ctrl.chat.isGroup, 'hexMask': !$ctrl.chat.isGroup}"
      ng-style="{'background-color': $ctrl.chat.color}">
      <div ng-if="!$ctrl.chat.isGroup"
        class="app-chat-content__title-avatar-initials"
        ng-style="{'color': $ctrl.invertColor($ctrl.chat.color)}">
        {{$ctrl.chat.initials}}
      </div>
      <pcd-icon
        ng-if="$ctrl.chat.isGroup"
        class="app-chat-content__title-avatar-icon"
        icon="group"
        color="{{$ctrl.invertColor($ctrl.chat.color)}}"
        size="16">
      </pcd-icon>
    </div>

    <div class="app-chat-content__title-name">
      <div class="app-chat-content__title-name-text">
        {{$ctrl.chat.name}}
      </div>
      <div class="app-chat-content__title-name-info">
        Last post {{$ctrl.getTimeStr($ctrl.chat.timestamp)}}
      </div>
    </div>

    <div class="app-chat-content__title-action">
      <md-button class="md-icon-button"
        aria-label="Add"
        ng-disabled="true"
      >
        <pcd-icon
          icon="group_add"
          color="rgba(0, 0, 0, 0.54)"
          size="18">
        </pcd-icon>
      </md-button>
      <md-menu md-position-mode="target-right target"
        md-offset="0 45">
        <md-button aria-label="settings"
          class="settings-btn"
          ng-click="$ctrl.openSettings($mdMenu, $event)"
        >
          <span>Settings</span>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item class="settings-item">
            <md-button ng-click="$ctrl.deleteChat()">
              Delete chat
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>


  </div>

  <div class="app-chat-content__body">
    <div
      ng-repeat="msg in $ctrl.displayedMessages track by $index"
      class="app-chat-content__body-item"
    >
      <app-chat-content-msg
        is-group="$ctrl.chat.isGroup"
        msg="msg"
        is-same-creator="$ctrl.isSameCreator($index)"
        prev-timestamp="$ctrl.getPrevTimestamp($index)"
      ></app-chat-content-msg>
    </div>

  </div>

  <app-chat-msg-create
    msg-out-stream="$ctrl.msgOutStream"
    msg-out-change-stream="$ctrl.msgOutChangeStream"
  ></app-chat-msg-create>

</section>
