<form class="message"
  name="messageForm"
  layout="column"
  layout-align="start stretch"
  ng-cloak>
  <div class="send-from"
    layout="row"
    layout-align="start end">
    <div class="field-name"
      layout="row"
      layout-align="start end">
      Send from:
    </div>
    <input type="text"
      class="single"
      ng-model="$ctrl.msg.mailAddress"
      disabled>
  </div>
  <div class="send-to"
    layout="row">
    <div class="field-name"
      layout="row"
      layout-align="start end">
      Send to:
    </div>
    <md-chips ng-model="$ctrl.msg.mailAddressTO"
      md-add-on-blur="true"
      md-separator-keys="$ctrl.keys"
      placeholder="Enter a mail address"
      md-transform-chip="$ctrl.checkAddress($chip)"
      readonly="$ctrl.isReadonly">
      <md-chip-template>
        <span ng-class="{mailWrong: ($ctrl.msg.mailAddressErrors !== undefined) &&  ($ctrl.msg.mailAddressErrors.indexOf($chip) !== -1)}">
          {{$chip}}
        </span>
      </md-chip-template>
    </md-chips>
  </div>
  <div class="copy"
    layout="row">
    <div class="field-name"
      layout="row"
      layout-align="start end">
      Copy:
    </div>
    <md-chips ng-model="$ctrl.msg.mailAddressCC"
      md-add-on-blur="true"
      md-separator-keys="$ctrl.keys"
      placeholder="Enter a mail address"
      md-transform-chip="$ctrl.checkAddress($chip)"
      readonly="$ctrl.isReadonly">
      <md-chip-template>
        <span ng-class="{mailWrong: ($ctrl.msg.mailAddressErrors !== undefined) &&  ($ctrl.msg.mailAddressErrors.indexOf($chip) !== -1)}">
          {{$chip}}
        </span>
      </md-chip-template>
    </md-chips>
  </div>
  <div class="hidden-copy"
    layout="row">
    <div class="field-name"
      layout="row"
      layout-align="start end">
      BCC:
    </div>
    <md-chips ng-model="$ctrl.msg.mailAddressBC"
      md-add-on-blur="true"
      md-separator-keys="$ctrl.keys"
      placeholder="Enter a mail address"
      md-transform-chip="$ctrl.checkAddress($chip)"
      readonly="$ctrl.isReadonly">
      <md-chip-template>
        <span ng-class="{mailWrong: ($ctrl.msg.mailAddressErrors !== undefined) &&  ($ctrl.msg.mailAddressErrors.indexOf($chip) !== -1)}">
          {{$chip}}
        </span>
      </md-chip-template>
    </md-chips>
  </div>
  <div class="subject"
    layout="row"
    layout-align="start end">
    <div class="field-name"
      layout="row"
      layout-align="start end">
      Subject:
    </div>
    <input type="text"
      class="single"
      ng-model="$ctrl.msg.subject"
      ng-disabled="$ctrl.isReadonly">
  </div>
  <md-toolbar ng-if="$ctrl.msg.attached.length > 0"
    md-colors="{'background-color': 'grey-300'}"
    class="attached-header"
    layout="row"
    layout-align="start center">
    Attached files ({{$ctrl.msg.attached.length}}):
  </md-toolbar>
  <div class="attached-wrap"
    layout="row"
    layout-align="start stretch">
    <attach-block attached="$ctrl.msg.attached"
      attached-files="$ctrl.attachedFiles"
      msg-key="$ctrl.msg.msgKey"
      disable="$ctrl.isReadonly">
    </attach-block>
  </div>
  <div class="editor"
    layout="column"
    layout-align="start stretch">
    <div class="field-name"
      layout="row"
      layout-align="start end">
      Letter:
    </div>
    <md-button class="md-raised"
      aria-label="toogle_toolbar"
      ng-click="$ctrl.showEditorToolbar()"
      ng-class="{disabled: $ctrl.isReadonly}">
      <ng-md-icon icon="format_color_text"
        size="24">
      </ng-md-icon>
    </md-button>
    <ng-quill-editor ng-model="$ctrl.msg.bodyHTML"
      name="editor"
      toolbar="true"
      show-toolbar="$ctrl.editor.isToolbar"
      link-tooltip="true"
      image-tooltip="false"
      editor-required="true"
      required=""
      save="html"
      read-only="$ctrl.isReadonly"
      error-class="input-error">
		</ng-quill-editor>
  </div>
  <!--<br>
  {{$ctrl.$stateParams | json}}
  <br>
  {{$ctrl.msg | json}}
  <br>
  {{$ctrl.cacheSrv.messages.list[$ctrl.msg.msgId] | json}}
  <br>-->
</form>
