@import "../../config";

.gr-list {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  .gr-list-letter {
    .gr-list-letter-title {
      .md-subheader-inner {
        font-size: 16px;
        font-weight: bold;
        color: $color12;
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }

    .gr-list-item {
      position: relative;
      width: 100%;
      height: 56px;
      padding: 0 20px;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.06);
      }

      &:focus {
        outline-width: 0;
      }

      &.select {
        background-color: $color20;
        outline-width: 0;
      }

      .avatar-field {
        position: relative;
        width: 40px;
        height: 40px;
        margin-right: 16px;
      }

      .image {
        background-size: cover;
      }

      .initials {
        font-size: 16px;
        font-weight: bold;
      }

      .name-field {
        position: relative;
        width: calc(100% - 56px);
        height: 22px;
        font-size: 16px;
        color: $color01;
        -webkit-user-select: none;

        .name {
          display: block;
          position: relative;
          max-width: calc(100% - 40px);
          height: 22px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

}
