<md-dialog aria-label="new chat"
  class="chat-create-window">
<form name="newChatForm"
  class="chat-create-form"
  ng-cloak>
  <div class="chat-create-form__toolbar">
    <span class="chat-create-form__toolbar-name">New Chat</span>
    <md-button class="md-icon-button btn-close"
      aria-label="close modal"
      ng-click="closeModal()">
      <md-tooltip md-direction="left">
        Cancel
      </md-tooltip>
      <ng-md-icon icon="close"></ng-md-icon>
    </md-button>
  </div>

  <div class="chat-create-form__name">
    <input type="text"
      name="chatName"
      placeholder="Please Enter Name of Chat"
      ng-model="chatName" 
      ng-disabled="selectedPersons.length < 2"
      ng-required="true"
      ng-class="{'error': newChatForm.chatName.$dirty && newChatForm.chatName.$invalid}">
  </div>

  <div class="chat-create-form__filter">
    <ng-md-icon icon="search"></ng-md-icon>
    <input type="text" ng-model="filterName">
  </div>

  <div class="chat-create-form__content">
    <div class="chat-create-form__content--item"
      ng-repeat="person in (contacts.list | toArray) | filter: searchName(filterName) | filter: {letter: symbol} | orderBy:'nickName'"
      ng-click="selectContact(person.personId)">
      <div ng-if="person.minAvatar !== ''"
        class="avatar-field image hexMask"
        style="background-image:url({{person.minAvatar}})">
      </div>
      <div ng-if="person.minAvatar === ''"
        class="avatar-field initials hexMask"
        ng-style="{'background-color': person.color, 'color': invertColor(person.color)}"
        layout="row"
        layout-align="center center">
        {{person.initials}}
      </div>
      <div ng-if="isPersonInList(person.personId)"
        class="avatar-field--marked hexMask">
        <ng-md-icon icon="done" size="24"></ng-md-icon>
      </div>

      <div class="name-field"
        layout="row"
        layout-align="start center">
        <span class="name"
          ng-class="{personInBlackList: person.inBlackList}">
          {{person.nickName}}
        </span>
        <ng-md-icon icon="warning"
          ng-if="!person.isConfirm && !person.inBlackList">
        </ng-md-icon>
        <ng-md-icon icon="visibility_off"
          ng-if="person.inBlackList">
        </ng-md-icon>
      </div>
    </div>
  </div>
  
  <div class="chat-create-form__action">
    <md-button class="chat-create-form__action--btn-create"
      ng-click="createNewChat()"
      ng-disabled="(selectedPersons.length === 0) || newChatForm.$invalid">
      Create
    </md-button>
  </div>
</form>
</md-dialog>