<section class="storage-opened-folder"
	ng-class="{ 'drag-over': $ctrl.dragOver }">

	<h4>
		Location: {{ $ctrl.folder.location }}
		<button ng-if="$ctrl.hasParent"
			ng-click="$ctrl.openParentFolder()">go up</button>
	</h4>

	<div ng-repeat="item in $ctrl.items">
		<storage-fs-folder ng-if="item.isFolder"
			folder="item"
			parent="$ctrl">
		</storage-fs-folder>
		<storage-fs-file ng-if="item.isFile"
			file="item"
			parent="$ctrl">
		</storage-fs-file>
	</div>

	<div ng-if="$ctrl.items.length === 0">
		<em>Folder is empty</em>
	</div>

	<storage-create-folder make-fn="$ctrl.makeFolder"></storage-create-folder>

</section>

<style>
	.storage-opened-folder {
		border: 2px dotted transparent;
	}
	.storage-opened-folder.drag-over {
		border: 2px dotted black;
	}
</style>
