@import '../../../../config';

.msg-move-dialog {
	width: 480px;
  height: 280px;

	form {
		position: relative;
		width: 100%;
		height: 100%;

		md-toolbar {
			h4 {
				margin: 0;
			}

			button {
				position: absolute;
				margin: 0;
				top: 0;
				right: 0;
			}
		}

		md-dialog-content {
			position: relative;
    	height: calc(100% - 116px);
			padding: 0 16px;

			h4 {
				margin: 16px 0;
				text-align: center;
			}

			md-select {
				width: 400px;
    		margin: 0 auto;
			}
		}

		md-dialog-actions {
			button {
				@include button3n($color06);
			}
		}
	}
}