<md-dialog aria-label="Move message"
	class="msg-move-dialog">
  <form ng-cloak>
    <md-toolbar layout="row"
      layout-align="center center">
      <h4>Move message</h4>
      <md-button class="md-icon-button"
        aria-label="cancel"
        ng-click="cancel()">
        <ng-md-icon icon="close" size="24"></ng-md-icon>
      </md-button>
    </md-toolbar>
    <md-dialog-content>
      <h4>Select the folder to move the message(s):</h4>
      <md-select ng-model="targetFolder"
        aria-label="select folder to move"
        placeholder="Mail Folder list"
        class="md-no-underline">
        <md-option ng-repeat="folder in foldersList"
          ng-value="folder.folderId"
          ng-disabled="($index < MAIL_FOLDER_IDS.trash) || (folder.folderId === currentFolder)">
          {{folder.folderName}}
        </md-option>
      </md-select>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button aria-label="OK!"
        ng-disabled="(targetFolder === null) || (targetFolder === currentFolder)"
        ng-click="ok()">
        OK!
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>