@import "../../config";

.group {
  position: relative;
  width: 100%;
  height: 100%;

  .group-info {
    position: relative;
    width: 285px;

    .gr-info-title {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 36px;
      line-height: 36px;
      background-color: rgba(0, 0, 0, 0.54);
      color: #ffffff;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      z-index: 1;
    }

    .gr-info-avatar {
      position: relative;
      width: 100%;
      height: 190px;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }

    .gr-info-btns {
      position: absolute;
      width: calc(100% - 32px);
      height: 36px;
      top: 138px;
      left: 16px;

      .gr-btn {
        position: relative;
        min-width: 36px;
        width: 36px;
        min-height: 36px;
        height: 36px;
        background-color: #ffffff;
        padding: 0;
        margin: 0 16px 0 0;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        float: left;

        ng-md-icon {
          width: 24px;
          height: 24px;
          fill: rgba(0, 0, 0, 0.54);
        }
      }

      .gr-dbl-btn {
        position: relative;
        min-width: 60px;
        width: 60px;
        min-height: 36px;
        height: 36px;
        background-color: #ffffff;
        padding: 0;
        margin: 0;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        float: right;

        ng-md-icon {
          position: relative;
          width: 24px;
          height: 24px;
          fill: rgba(0, 0, 0, 0.54);

          &:first-child {
            left: 2px;
          }

          &:last-child {
            right: 2px;
          }
        }
      }
    }

    .gr-info-content-body {
      position: relative;
      width: 100%;
      height: calc(100% - 190px);
      overflow-y: auto;
      padding: 0 16px;

      .gr-info-content-body-item {
        position: relative;
        width: 100%;
        height: 64px;

        .label {
          position: relative;
          height: 24px;
          font-size: 14px;
          font-weight: bold;
          color: $color01;
        }

        .field {
          position: relative;
          box-sizing: border-box;
          height: 34px;
          padding-bottom: 4px;
          margin-bottom: 6px;
          font-size: 16px;
          color: #3675a8;
          border-bottom: 1px solid rgba(0,0,0,0.12);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .group-members {
    position: relative;
    width: calc(100% - 285px);

    .group-members-title {
      position: relative;
      width: 100%;
      height: 36px;
      line-height: 36px;
      text-align: center;
      font-size: 16px;
      color: $color11;
      background-color: rgba(0, 0, 0, 0.06);
    }

    md-content {
      width: 100%;
      height: calc(100% - 100px);
      background-color: #ffffff;

      .group-members-item {
        position: relative;
        width: 100%;
        height: 56px;
        padding: 0 16px;
        // cursor: pointer;

        // &:hover {
        //   background-color: $color20;
        //   outline-width: 0;
        // }

        &:focus {
          outline-width: 0;
        }

        &.select {
          background-color: $color20;
          outline-width: 0;
        }

        .avatar-field {
          position: relative;
          width: 40px;
          height: 40px;
          margin: 0 16px;
          outline-width: 0;
        }

        .image {
          background-size: cover;
          background-position: 50% 50%;
          background-repeat: no-repeat;
        }

        .initials {
          font-size: 16px;
          font-weight: bold;
        }

        .name-field {
          position: relative;
          width: calc(100% - 176px);
          height: 56px;
          font-size: 16px;
          color: $color01;

          .name {
            display: block;
            position: relative;
            width: calc(100% - 48px);
            -webkit-user-select: none;

            span {
              position: relative;
              display: block;
              width: 100%;
              height: 22px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          .personInBlackList {
            color: rgba(0, 0, 0, 0.38);
          }

          ng-md-icon {
            position: relative;
            width: 24px;
            height: 24px;
            margin-left: 12px;
            padding: 0;
            fill: rgba(0, 0, 0, 0.54);
          }
        }

        .btn-action {
          position: relative;
          min-width: 36px;
          width: 36px;
          min-height: 36px;
          height: 36px;
          background-color: #ffffff;
          padding: 0;
          margin: 0 8px;
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

          ng-md-icon {
            fill: rgba(0, 0, 0, 0.54);
          }
        }
      }
    }

    .group-members-btn {
      position: relative;
      width: 100%;
      height: 64px;
      font-weight: bold;

      button {
        font-weight: bold;
        width: 200px;
        text-align: center;
      }
    }

  }
}
