@import "../../config";

.edit-group-form-wrap {
	max-height: 100%;

	.edit-group-form {
		position: relative;
  	width: 380px;

		.show-part {
			display: block;
		}

		.hide-part {
			display: none;
		}

		.group-avatar {
			position: relative;
			width: 100%;
			height: 242px;
			margin: 0 0 12px 0;
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}

		.btn-close {
			position: absolute;
			top: 0;
			right: 0;
			min-width: 48px;
			width: 48px;
			min-height: 48px;
			height: 48px;
			padding: 0;
			margin: 0;
			z-index: 2;

			ng-md-icon {
				fill: #ffffff;

				svg {
					stroke: rgba(0, 0, 0, 0.3);
					stroke-width: 1px;
				}
			}
		}

		.group-avatar-photo-action {
			position: absolute;
			width: 32px;
			height: 32px;
			left: calc(50% - 16px);
			top: 200px;
			z-index: 2;

			.photo-btn {
				position: relative;
				min-width: 32px;
				width: 32px;
				min-height: 32px;
				height: 32px;
				padding: 0;
				margin: 0;

				ng-md-icon {
					width: 32px;
					height: 32px;
					fill: #ffffff;

					svg {
						width: 32px;
						height: 32px;
						stroke: rgba(0, 0, 0, 0.3);
						stroke-width: 1px;
					}
				}
			}
		}

		.simply-input {
			position: relative;
			width: 100%;
			height: 48px;
			padding: 0 16px 6px 16px;

			label {
				position: relative;
				display: inline-block;
				width: 104px;
				padding-bottom: 6px;
				font-size: 16px;
				font-weight: bold;
				color: $color01;
			}

			input {
				position: relative;
				width: calc(100% - 104px);
				padding-bottom: 6px;
				border-left: none;
				border-top: none;
				border-right: none;
				border-bottom: 1px solid $color10;
				outline-width: 0;
				font-size: 16px;
				color: $color12;

				&::-webkit-input-placeholder {
					font-size: 16px;
					font-weight: normal;
					color: $color10;
				}

				&:focus {
					border-bottom-color: $color12;
					font-weight: bold;

					&::-webkit-input-placeholder {
						font-weight: normal;
					}
				}

				&:disabled {
					background-color: inherit;
				}
			}
		}

		.group-content-btns {
			position: relative;
			width: 100%;
			height: 70px;
			padding: 16px;

			button {
				position: relative;
				min-height: 38px;
				height: 38px;
				padding: 0 16px;
				font-size: 16px;
				font-weight: bold;
				line-height: 38px;
				color: #ffffff !important;
			}

			.btn-cancel {
				background-color: lighten(#F44336, 10%) !important;

				&:not([disabled]):hover {
					background-color: #F44336 !important;
				}
			}

			.btn-save {
				background-color: lighten(#4CAF50, 10%);

				&:not([disabled]):hover {
					background-color: #4CAF50 !important;
				}
			}
		}

		.part2 {
			background-color: rgb(250, 250, 250);
		}

		.part2-toolbar {
			position: relative;
			width: 100%;
			height: 48px;
			color: $color01;
			font-size: 14px;
			font-weight: bold;
		}

		.part2-filter {
			position: relative;
			width: 100%;
			height: 48px;
			padding: 0 12px;
			box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    	z-index: 5;

			ng-md-icon {
				margin-right: 12px;
			}

			input {
				box-sizing: border-box;
				width: calc(100% - 48px);
				height: 36px;
				padding: 6px 4px;
				border: none;
				border-bottom: 1px solid $color10;
				outline-width: 0;
				font-size: 16px;
				color: $color12;
				background-color: rgb(250, 250, 250);

				&::-webkit-input-placeholder {
					font-size: 16px;
					font-weight: normal;
					color: $color10;
				}

				&:focus {
					border-bottom-color: $color12;
					font-weight: bold;

					&::-webkit-input-placeholder {
						font-weight: normal;
					}
				}
			}
		}

		.part2-person-list {
			width: 100%;
			height: 400px;

			.person-list-letter-title {
				.md-subheader-inner {
					font-size: 16px;
					font-weight: bold;
					color: $color12;
					padding-top: 8px;
					padding-bottom: 8px;
				}
			}

			// .person-list-letter {
				.person-list-item {
					position: relative;
					width: 100%;
					height: 56px;
					padding: 0 12px 0 24px;
					cursor: pointer;

					&:hover {
						background-color: $color20;
						outline-width: 0;
					}

					&:focus {
						outline-width: 0;
					}

					&.select {
						background-color: $color20;
						outline-width: 0;
					}

					.avatar-field {
						position: relative;
						width: 40px;
						height: 40px;
						margin-right: 16px;
						outline-width: 0;

						.person-marked {
							position: absolute;
							z-index: 1;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background-color: rgba(0, 0, 0, 0.54);
							pointer-events: none;

							ng-md-icon {
								fill: #ffffff;
							}
						}
					}

					.image {
						background-size: cover;
						background-position: 50% 50%;
						background-repeat: no-repeat;
					}

					.initials {
						font-size: 16px;
						font-weight: bold;
					}

					.name-field {
						position: relative;
						width: calc(100% - 56px);
						height: 22px;
						font-size: 16px;
						color: $color01;
						-webkit-user-select: none;

						.name {
							display: block;
							position: relative;
							width: calc(100% - 36px);
							height: 22px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}

						.personInBlackList {
							color: rgba(0, 0, 0, 0.38);
						}

						ng-md-icon {
							position: relative;
							width: 24px;
							height: 24px;
							margin-left: 12px;
							padding: 0;
							fill: rgba(0, 0, 0, 0.54);
						}
					}
				}
			// }
		}

	}
}
