<section class="group"
  layout="row"
  layout-align="end stretch">
  <div class="group-members">
    <div class="group-members-title">
      Members ({{$ctrl.cacheSrv.groups.list[$ctrl.group.groupId].members.length}})
    </div>
    <md-content>
      <div class="group-members-item"
        ng-repeat="personId in $ctrl.cacheSrv.groups.list[$ctrl.group.groupId].members"
        layout="row"
        layout-align="start center"
        ng-class="{select: personId === $ctrl.selectedPersonId}">
        <div ng-if="$ctrl.cacheSrv.contacts.list[personId].minAvatar !== ''"
          class="avatar-field image hexMask"
          style="background-image:url({{$ctrl.cacheSrv.contacts.list[personId].minAvatar}})">
        </div>
        <div ng-if="$ctrl.cacheSrv.contacts.list[personId].minAvatar === ''"
          class="avatar-field initials hexMask"
          ng-style="{'background-color': $ctrl.cacheSrv.contacts.list[personId].color, color: $ctrl.invertColor($ctrl.cacheSrv.contacts.list[personId].color)}"
          layout="row"
          layout-align="center center">
          {{$ctrl.cacheSrv.contacts.list[personId].initials | uppercase}}
        </div>
        <div class="name-field"
          layout="row"
          layout-align="start center">
          <div class="name"
            layout="column"
            layout-align="center stretch">
            <span ng-class="{personInBlackList: $ctrl.cacheSrv.contacts.list[personId].inBlackList}">
              {{$ctrl.cacheSrv.contacts.list[personId].nickName}}
            </span>
            <span ng-class="{personInBlackList: $ctrl.cacheSrv.contacts.list[personId].inBlackList}">
              <i>{{$ctrl.cacheSrv.contacts.list[personId].mails[0]}}</i>
            </span>
          </div>
          <ng-md-icon icon="warning"
            ng-if="!$ctrl.cacheSrv.contacts.list[personId].isConfirm && !$ctrl.cacheSrv.contacts.list[personId].inBlackList">
          </ng-md-icon>
          <ng-md-icon icon="visibility_off"
            ng-if="$ctrl.cacheSrv.contacts.list[personId].inBlackList">
          </ng-md-icon>
        </div>
        <md-button class="btn-action"
          aria-label="open chat">
          <ng-md-icon icon="chat"></ng-md-icon>
        </md-button>
        <md-button class="btn-action"
          aria-label="send message"
          ng-click="$ctrl.createNewMsgGroup($ctrl.cacheSrv.contacts.list[personId].mails[0])">
          <ng-md-icon icon="mail_outline"></ng-md-icon>
        </md-button>
      </div>
    </md-content>
    <div class="group-members-btn" 
      layout="row"
      layout-align="space-around center">
      <md-button class="md-raised"
        md-colors="{'background-color':'green-500'}"
        aria-label="add member"
        ng-click="$ctrl.runEditMembers()">
        EDIT MEMBERS LIST
      </md-button>
      <!--<md-button class="md-raised"
        md-colors="{'background-color':'red-500'}"
        aria-label="remove member"
        ng-disabled="$ctrl.selectedPersonId === null"
        ng-click="$ctrl.runRemoveMembers()">
        REMOVE FROM GROUP
      </md-button>-->
    </div>
  </div>
  <div class="group-info">
    <div class="gr-info-title">Group information</div>
    <div class="gr-info-avatar"
      ng-if="$ctrl.group.avatar === ''"
      ng-style="{'background-color': $ctrl.cacheSrv.groups.list[$ctrl.group.groupId].color}"
      ng-cloak>
    </div>
    <div class="gr-info-avatar"
      ng-if="$ctrl.group.avatar !== ''"
      ng-style="{'background-image': 'url(' + $ctrl.group.avatar + ')'}"
      ng-cloak>
    </div>
    <div class="gr-info-btns">
      <md-button aria-label="begin chat"
        class="gr-btn">
        <ng-md-icon icon="chat"></ng-md-icon>
      </md-button>
      <md-button aria-label="create message"
        class="gr-btn"
        ng-click="$ctrl.createNewMsgGroup()">
        <ng-md-icon icon="mail_outline"></ng-md-icon>
      </md-button>
      <md-menu md-offset="0 44"
        md-position-mode="target-right target">
        <md-button aria-label="group menu"
          class="gr-dbl-btn"
          ng-click="$ctrl.openMenu($mdOpenMenu, $event)">
          <ng-md-icon icon="edit"></ng-md-icon>
          <ng-md-icon icon="arrow_drop_down"></ng-md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button aria-label="edit"
              ng-click="$ctrl.editGroup()">
              Edit Group
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button aria-label="delete"
              ng-click="$ctrl.deleteGroup()"
              ng-disabled="($ctrl.group.groupId === '0') || ($ctrl.group.groupId === '1')">
              Delete Group
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
    <div class="gr-info-content-body">
      <div class="gr-info-content-body-item">
        <span class="label"
          layout="row"
          layout-align="start end">
          Group name:
        </span>
        <span class="field"
          layout="row"
          layout-align="start end">
          {{$ctrl.group.name}}
        </span>
      </div>
      <div class="gr-info-content-body-item">
        <span class="label"
          layout="row"
          layout-align="start end">
          Notice:
        </span>
        <span class="field"
          layout="row"
          layout-align="start end">
          {{$ctrl.group.notice}}
        </span>
      </div>
    </div>
  </div>
</section>
