<md-dialog aria-label="edit group"
  class="edit-group-form-wrap">
  <form name="editGroupForm"
    class="edit-group-form"
    ng-cloak>
    <md-dialog-content>
      <div ng-class="{'show-part': part === 1, 'hide-part': part !== 1}">
        <md-button class="md-icon-button btn-close"
          aria-label="close modal"
          ng-click="closeModal()">
          <md-tooltip md-direction="left">
            Close form without save
          </md-tooltip>
          <ng-md-icon icon="close"></ng-md-icon>
        </md-button>

        <div class="group-avatar"
          ng-if="group.dataMap.minAvatar === ''"
          ng-style="{'background-color': group.dataMap.color}"
          ng-cloak>
        </div>
        <div class="group-avatar"
          ng-if="group.dataMap.minAvatar !== ''"
          ng-style="{'background-image': 'url(' + group.data.avatar + ')'}"
          ng-cloak>
        </div>

        <div class="group-avatar-photo-action">
          <md-button ng-if="group.dataMap.minAvatar === ''"
            aria-label="add_photo"
            class="md-icon-button photo-btn"
            ng-disabled="(group.data.groupId === '0') || (group.data.groupId === '1')"
            ng-click="runAddAvatar()">
            <md-tooltip md-direction="top">
              Add Photo
            </md-tooltip>
            <ng-md-icon icon="add"></ng-md-icon>
          </md-button>
          <md-button ng-if="group.dataMap.minAvatar !== ''"
            aria-label="del_photo"
            class="md-icon-button photo-btn"
            ng-disabled="(group.data.groupId === '0') || (group.data.groupId === '1')"
            ng-click="runDelAvatar()">
            <md-tooltip md-direction="top">
              Delete Photo
            </md-tooltip>
            <ng-md-icon icon="delete_forever"></ng-md-icon>
          </md-button>
        </div>

        <div class="simply-input"
          layout="row"
          layout-align="start end">
          <label>Group name:</label>
          <input type="text"
            ng-model="group.data.name"
            required
            ng-disabled="(group.data.groupId === '0') || (group.data.groupId === '1')"
            placeholder="Please enter group name">
        </div>
        <div class="simply-input"
          layout="row"
          layout-align="start end">
          <label>Notice:</label>
          <input type="text"
            ng-model="group.data.notice"
            ng-disabled="(group.data.groupId === '0') || (group.data.groupId === '1')"
            placeholder="Some additional information">
        </div>

        <div class="group-content-btns"
          layout="row" layout-align="end center">
          <md-button class="md-raised btn-cancel"
            aria-label="close modal"
            ng-click="closeModal()">
            CANCEL
          </md-button>
          <md-button class="md-raised btn-save"
            aria-label="next part"
            ng-disabled="editGroupForm.$invalid"
            ng-click="next()">
            NEXT
          </md-button>
        </div>
      </div>

      <div class="part2" ng-class="{'show-part': part === 2, 'hide-part': part !== 2}">
        <div class="part2-toolbar"
          layout="row"
          layout-align="center center">
          Members ({{group.dataMap.members.length}})
          <md-button class="md-icon-button btn-close"
            aria-label="close modal"
            ng-click="closeModal()">
            <md-tooltip md-direction="left">
                Close form without save
              </md-tooltip>
            <ng-md-icon icon="close"></ng-md-icon>
          </md-button>
        </div>

        <div class="part2-filter"
          layout="row"
          layout-align="space-between center">
          <ng-md-icon icon="search"></ng-md-icon>
          <input type="text" ng-model="filterName">
        </div>

        <md-content class="part2-person-list">
          <!--<div class="person-list-letter"
            ng-repeat="symbol in contacts.letters">
            <md-subheader class="person-list-letter-title">
              {{symbol}}
            </md-subheader>-->
            <div class="person-list-item"
              ng-repeat="person in (contacts.list | toArray) | filter: searchName(filterName) | filter: {letter: symbol} | orderBy:'nickName'"
              layout="row"
              layout-align="start center">
              <div ng-if="person.minAvatar !== ''"
                class="avatar-field image hexMask"
                style="background-image:url({{person.minAvatar}})"
                ng-click="markPersons($event, person.personId)">
                <div class="person-marked"
                  layout="column"
                  layout-align="center center"
                  ng-if="group.dataMap.members.indexOf(person.personId) > -1">
                  <ng-md-icon icon="check"></ng-md-icon>
                </div>
              </div>
              <div ng-if="person.minAvatar === ''"
                class="avatar-field initials hexMask"
                ng-style="{'background-color': person.color, 'color': invertColor(person.color)}"
                layout="row"
                layout-align="center center"
                ng-click="markPersons($event, person.personId)">
                {{person.initials}}
                <div class="person-marked"
                  layout="column"
                  layout-align="center center"
                  ng-if="group.dataMap.members.indexOf(person.personId) > -1">
                  <ng-md-icon icon="check"></ng-md-icon>
                </div>
              </div>
              <div class="name-field"
                layout="row"
                layout-align="start center">
                <span class="name"
                  ng-class="{personInBlackList: person.inBlackList}">
                  {{person.nickName}}
                </span>
                <ng-md-icon icon="warning"
                  ng-if="!person.isConfirm && !person.inBlackList">
                </ng-md-icon>
                <ng-md-icon icon="visibility_off"
                  ng-if="person.inBlackList">
                </ng-md-icon>
              </div>
            </div>
          <!--</div>-->
        </md-content>
        <div class="group-content-btns"
          layout="row" layout-align="end center">
          <md-button class="md-raised btn-cancel"
            aria-label="prev part"
            ng-click="next()">
            BACK
          </md-button>
          <md-button class="md-raised btn-save"
            aria-label="save group"
            ng-disabled="(editGroupForm.$pristine) || (editGroupForm.$invalid)"
            ng-click="runSaveGroup()">
            {{(group.dataMap.grMode === "create") ? "CREATE" : "SAVE"}}
          </md-button>
      </div>

    </md-dialog-content>
  </form>
</md-dialog>
