<section class="msg-showing">

	<div ng-if="$ctrl._cacheSrv.messages.list[$ctrl.msgContent.msgId].folderId !== $ctrl.MAIL_FOLDER_IDS.outbox"
		class="actions-wrap">
		<md-button class="md-icon-button single"
			aria-label="edit"
			ng-show="$ctrl.show.edit"
			ng-click="$ctrl.openForEditing()">
			<ng-md-icon icon="edit"></ng-md-icon>
		</md-button>
		<md-button class="md-icon-button single"
			aria-label="reply"
			ng-show="$ctrl.show.reply"
			ng-click="$ctrl.runReplyMsg('reply')">
			<ng-md-icon icon="reply"></ng-md-icon>
		</md-button>
		<md-button class="md-icon-button single"
			aria-label="reply all"
			ng-show="$ctrl.show.replyAll"
			ng-click="$ctrl.runReplyMsg('replyAll')">
			<ng-md-icon icon="reply_all"></ng-md-icon>
		</md-button>
		<md-button class="md-icon-button single"
			aria-label="forward"
			ng-show="$ctrl.show.forward"
			ng-click="$ctrl.runSendMsg()">
			<ng-md-icon icon="forward"></ng-md-icon>
		</md-button>

		<md-menu>
			<md-button class="btn-double"
				aria-label="msg menu"
				ng-click="$ctrl.openAddMenu($mdMenu, $event)">
				<ng-md-icon icon="inbox"></ng-md-icon>
				<ng-md-icon icon="arrow_drop_down"></ng-md-icon>
			</md-button>
			<md-menu-content>
				<md-menu-item>
					<md-button aria-label="open for editing"
						ng-disabled="$ctrl._cacheSrv.messages.list[$ctrl.msgContent.msgId].folderId !== $ctrl.MAIL_FOLDER_IDS.draft"
						ng-click="$ctrl.openForEditing()">
						Edit
					</md-button>
				</md-menu-item>
				<md-menu-item>
					<md-button aria-label="move msg"
						ng-disabled="$ctrl._cacheSrv.messages.list[$ctrl.msgContent.msgId].isOut || !$ctrl._cacheSrv.messages.list[$ctrl.msgContent.msgId].isRead"
						ng-click="$ctrl.markAsUnread()">
						Mark as unread
					</md-button>
				</md-menu-item>
				<md-menu-item>
					<md-button aria-label="move msg"
						ng-click="$ctrl.runMoveMsg()">
						Move to folder
					</md-button>
				</md-menu-item>
				<md-menu-item>
					<md-button aria-label="save msg as html"
						ng-click="$ctrl.runSaveMsgContent('html')">
						Save as HTML
					</md-button>
				</md-menu-item>
				<md-menu-item>
					<md-button aria-label="save msg as text"
						ng-click="$ctrl.runSaveMsgContent('text')">
						Save as text
					</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>


		<div class="labels">
			<msg-tags msg-id="$ctrl.msgContent.msgId"></msg-tags>
		</div>

		<md-button class="md-icon-button single"
			aria-label="delete"
			ng-click="$ctrl.delMsg()">
			<ng-md-icon icon="delete"></ng-md-icon>
		</md-button>
	</div>

	<div ng-if="$ctrl._cacheSrv.messages.list[$ctrl.msgContent.msgId].folderId === $ctrl.MAIL_FOLDER_IDS.outbox"
		class="actions-wrap">
		<div class="progress">
			<md-progress-linear md-mode="determinate" value="{{$ctrl._cacheSrv.messages.sendStatus}}"></md-progress-linear>
			<div class="progress-value">{{$ctrl._cacheSrv.messages.sendStatus}}%</div>
		</div>
		<md-button aria-label="cancel send message"
			ng-click="$ctrl.cancelSendMsg()"
			class="cancel-send">
			Cancel
		</md-button>
	</div>

	<div class="fields-wrap" 
		ng-class="{'fields-wrap_out': $ctrl._cacheSrv.messages.list[$ctrl.msgContent.msgId].isOut}">
		<div class="subj-wrap">
			<div class="subj" 
				ng-class="{'subj_no': $ctrl.msgContent.subject === ''}">
				{{($ctrl.msgContent.subject !== "") ? $ctrl.msgContent.subject : "No subject"}}
			</div>
			<div class="time">{{$ctrl._commonSrv.getMsgDate($ctrl.msgContent.timeCr)}}</div>
		</div>

		<div class="field">
			<label>From:</label>
			<div class="field-content">
				<div class="address" 
					ng-style="{'background-color': $ctrl.getAddressColor($ctrl.msgContent.mailAddress), color: $ctrl.getInverseColor($ctrl.getAddressColor($ctrl.msgContent.mailAddress))}">
						{{($ctrl.msgContent.alias.mailAddress !== $ctrl._cacheSrv.username) ? $ctrl.msgContent.alias.mailAddress : "Me"}}
				</div>
			</div>
		</div>

		<div ng-if="($ctrl.msgContent.mailAddressTO.length + $ctrl.msgContent.mailAddressCC.length + $ctrl.msgContent.mailAddressBC.length) === 1"
			class="field">
			<label>To:</label>
			<div class="field-content">
				<div class="address"
					ng-style="{'background-color': $ctrl.getAddressColor($ctrl.msgContent.mailAddressTO[0]), color: $ctrl.getInverseColor($ctrl.getAddressColor($ctrl.msgContent.mailAddressTO[0]))}">
					{{::$ctrl.msgContent.alias.mailAddressTO[0]}}
				</div>
			</div>
		</div>

		<div ng-if="($ctrl.msgContent.mailAddressTO.length + $ctrl.msgContent.mailAddressCC.length + $ctrl.msgContent.mailAddressBC.length) > 1"
			class="fields">
			<md-button aria-label="show"
				class="md-icon-button btn-show-addr"
				ng-click="$ctrl.showAddresses()">
				<ng-md-icon ng-if="!$ctrl.isShowAll" icon="expand_more"></ng-md-icon>
				<ng-md-icon ng-if="$ctrl.isShowAll" icon="expand_less"></ng-md-icon>
			</md-button>

			<div ng-if="!$ctrl.isShowAll"
				class="field">
				<label>To:</label>
				<div class="field-content">
					<div class="address"
						ng-style="{'background-color': $ctrl.getAddressColor($ctrl.msgContent.mailAddressTO[0]), color: $ctrl.getInverseColor($ctrl.getAddressColor($ctrl.msgContent.mailAddressTO[0]))}">
						{{::$ctrl.msgContent.alias.mailAddressTO[0]}}
					</div>
					<div class="addr-qt">+ {{$ctrl.msgContent.mailAddressTO.length + $ctrl.msgContent.mailAddressCC.length + $ctrl.msgContent.mailAddressBC.length - 1}}</div>
				</div>
			</div>

			<div ng-if="$ctrl.isShowAll"
				class="field multi">
				<label>To:</label>
				<div class="field-content">
					<div ng-repeat="addr in $ctrl.msgContent.mailAddressTO"
						class="address"
						ng-style="{'background-color': $ctrl.getAddressColor(addr), color: $ctrl.getInverseColor($ctrl.getAddressColor(addr))}">
						{{::$ctrl.msgContent.alias.mailAddressTO[$index]}}
					</div>
				</div>
			</div>

			<div ng-if="$ctrl.isShowAll && ($ctrl.msgContent.mailAddressCC.length > 0)"
				class="field">
				<label>Copy:</label>
				<div class="field-content">
					<div ng-repeat="addr in $ctrl.msgContent.mailAddressCC"
						class="address"
						ng-style="{'background-color': $ctrl.getAddressColor(addr), color: $ctrl.getInverseColor($ctrl.getAddressColor(addr))}">
						{{::$ctrl.msgContent.alias.mailAddressCC[$index]}}
					</div>
				</div>
			</div>

			<div ng-if="$ctrl.isShowAll && ($ctrl.msgContent.mailAddressBC.length > 0)"
				class="field">
				<label>Hidden copy:</label>
				<div class="field-content">
					<div ng-repeat="addr in $ctrl.msgContent.mailAddressBC"
						class="address"
						ng-style="{'background-color': $ctrl.getAddressColor(addr), color: $ctrl.getInverseColor($ctrl.getAddressColor(addr))}">
						{{::$ctrl.msgContent.alias.mailAddressBC[$index]}}
					</div>
				</div>
			</div>

		</div>

		<msg-attach attached="$ctrl.msgContent.attached"
			attachments="$ctrl.currentAttachments"
			msg-id="$ctrl.msgContent.msgId"
			read-only="true">
		</msg-attach>

		<div class="text" 
			ng-click="$ctrl.isItLink($event)"
			ng-bind-html="$ctrl.msgContent.bodyHTML">
		</div>
	</div>

	<div ng-if="!$ctrl._cacheSrv.messages.list[$ctrl.msgContent.msgId].isOut"
		class="fastreply-wrap">
		<md-input-container md-no-float
			class="fastreply">
			<textarea type="text"
				placeholder="Fast reply"
				md-no-resize="true"
				max-rows="2"
				ng-model="$ctrl.fastReplyText">
			</textarea>
		</md-input-container>
		<md-button class="md-icon-button single"
			aria-label="fast reply"
			ng-click="$ctrl.runFastReply()"
			ng-disabled="$ctrl.fastReplyText === '' || $ctrl.fastReplyText === undefined">
			<ng-md-icon icon="send"></ng-md-icon>
		</md-button>

	</div>

</section>