<section class="contactApp"
	layout="row"
	layout-align="start stretch">
	<div class="contact-list">
		<div class="contact-list-toolbar">
			<div class="clist-toolbar-title"
				ng-click="$ctrl.goGroups()">
				Contacts ({{$ctrl.cacheSrv.contacts.total}})
				<span>click to view groups</span>
			</div>
			<div class="clist-toolbar-btns"
				layout="row"
				layout-align="center center">
				<md-button class="md-raised"
					md-colors="{'background-color':'green-500'}"
					ng-click="$ctrl.editPerson('new')">
					NEW CONTACT
				</md-button>
			</div>
			<div class="clist-toolbar-group-operations"
				ng-if="$ctrl.cacheSrv.contacts.marked.length > 0"
				layout="row"
				layout-align="space-between center">
				<div class="gr-info" layout="row" layout-align="start center">
					<ng-md-icon icon="close"
						ng-click="$ctrl.cancelMarkPersons()">
					</ng-md-icon>
					{{$ctrl.cacheSrv.contacts.marked.length}}
				</div>
				<div class="gr-btns">
					<md-button class="md-icon-button"
						aria-label="delete"
						ng-click="$ctrl.runDeleteMarkPersons()">
						<ng-md-icon icon="delete"></ng-md-icon>
					</md-button>
					<md-button class="md-icon-button"
						aria-label="bl list"
						ng-click="$ctrl.runSetFlagMarkPersons('b-list')">
						<ng-md-icon icon="visibility_off"></ng-md-icon>
					</md-button>
					<md-button class="md-icon-button"
						aria-label="mute"
						ng-disabled="true">
						<ng-md-icon icon="volume_off"></ng-md-icon>
					</md-button>
					<md-button class="md-icon-button"
						aria-label="chat"
						ng-disabled="true">
						<ng-md-icon icon="chat"></ng-md-icon>
					</md-button>
					<md-button class="md-icon-button"
						aria-label="mail"
						ng-click="$ctrl.createNewMsg()">
						<ng-md-icon icon="mail_outline"></ng-md-icon>
					</md-button>
				</div>
			</div>
		</div>
		<person-list ng-class="{lessHight: $ctrl.cacheSrv.contacts.marked.length > 0}">
		</person-list>
	</div>
	<div ng-if="($ctrl.cacheSrv.contacts.cMode !== 'hide') && ($ctrl.cacheSrv.contacts.cMode !== 'create')"
		class="contacts-content"
		ui-view>
	</div>
	<div ng-if="($ctrl.cacheSrv.contacts.cMode === 'hide') || (($ctrl.cacheSrv.contacts.cMode === 'create'))"
		class="noContact"
		layout="column"
		layout-align="center center">
		<img src="templates/mail/mail-folder/3n.png">
	</div>
</section>
