@import "../../config";

.contactApp {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;

  .contact-list {
    position: relative;
    width: 285px;

    .contact-list-toolbar {
      position: relative;
      width: 100%;

      .clist-toolbar-title {
        position: relative;
        width: 100%;
        height: 36px;
        border-bottom: 1px solid $color03;
        padding: 0 18px;
        background-color: $color03;
        color: $color11;
        font-size: 16px;
        font-weight: bold;
        line-height: 36px;
        cursor: pointer;

        span {
          float: right;
          font-size: 12px;
          font-style: italic;
          color: $color10;
        }
      }

      .clist-toolbar-btns {
        position: relative;
        width: 100%;
        height: 64px;
        border-bottom: 1px solid $color03;

        button {
          position: absolute;
          min-height: 38px;
          height: 38px;
          padding: 0 16px;
          margin: 0;
          font-size: 16px;
          font-weight: bold;
          line-height: 38px;
          opacity: 0.8;

          &:hover {
            opacity: 1;
          }
        }
      }

      .clist-toolbar-group-operations {
        position: relative;
        width: 100%;
        height: 56px;
        padding: 0 8px 0 16px;
        background-color: $color03;

        .gr-info {
          position: relative;
          font-size: 18px;
          font-weight: bold;
          color: $color02;

          ng-md-icon {
            fill: $color02;
            cursor: pointer;
          }
        }

        .gr-btns {
          position: relative;
          height: 40px;

          button {
            position: relative;
            min-width: 40px;
            width: 40px;
            min-height: 40px;
            height: 40px;
            margin: 0 0 0 2px;
            padding: 0;
            float: right;

            ng-md-icon {
              fill: $color02;
            }
          }
        }
      }
    }

    person-list {
      .person-list{
        position: relative;
        width: 100%;
        height: calc(100% - 100px);
        overflow-y: auto;
      }

      &.lessHight {
        .person-list {
          height: calc(100% - 154px);
        }
      }
    }

  }

  .noContact {
    position: relative;
    width: calc(100% - 285px);
    height: 100%;
    background-color: $selectedColor;

    img {
      opacity: 0.3;
    }
  }

  .contacts-content {
    position: relative;
    width: calc(100% - 285px);
  }
}
