@import '../../../config';

.msg-edit {
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;

	.border {
		border-bottom: 1px solid rgba(0, 0, 0, 0.06);
	}

	div[more] {
		display: none;
	}

	.form-fields-wrap {
		position: relative;
		width: 100%;
		height: calc(100% - 64px);
		overflow-y: auto;
		overflow-x: hidden;

		&_with-toolbar {
			height: calc(100% - 100px);
		}
	}

	.field-wrap {
		position: relative;
		width: 100%;
		min-height: 56px;
		padding: 0 56px 0 16px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-content: center;
		align-items: center;

		label {
			font-size: 16px;
			font-weight: bold;
			color: $color01;
			padding-right: 12px;

			&.high {
				padding-bottom: 10px;
			}
		}

		.field-from {
			position: relative;
			height: 36px;
			line-height: 36px;
			font-size: 16px;
			font-weight: bold;
			color: $color01;
			padding: 0 16px;
			border-radius: 18px;
			background-color: $color14;
		}

		md-chips {
			margin-bottom: 8px;

			md-chips-wrap {
				box-shadow: none;

				md-chip {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					align-content: center;
					border: 2px solid darken($color17, 40%);
					background-color: inherit;
					padding-right: 28px;

					.md-chip-remove-container {
						width: 32px;
    				height: 32px;
					}
				}
			}
		}

		md-input-container {
			margin: 8px 0;
			width: 100%;

			input {
				border-bottom: none;
			}

			.md-errors-spacer {
				min-height: 1px;
			}
		}

		.more {
			position: absolute;
			top: 8px;
			right: 8px;
			margin: 0;

			ng-md-icon {
				fill: $color02;
			}
		}
	}

	ng-quill-editor {
		> div {
			min-height: calc(100% - 330px);
			position: relative;
		}

		.ql-toolbar {
			display: none;
			position: fixed;
			width: 100%;
			bottom: 56px;
			background-color: $color03;
			padding: 5px 8px;
			z-index: 5;
		}

		.ql-container {
			border: none;
		}
	}


	.form-actions-wrap {
		position: relative;
		width: 100%;
		height: 56px;
		padding: 0 16px;
		margin-top: 8px;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		align-content: center;
		border-top: 1px solid rgba(0, 0, 0, 0.06);

		.editorToolbar {
			position: absolute;
			left: 0;
		}

		&_with-toolbar {
			margin-top: 44px;
		}

		.attach {
			position: relative;
			height: 68px;
			width: auto;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			align-content: center;
			font-size: 16px;

			button {
				margin: 0;
				
				ng-md-icon {
					fill: $color12;
				}
			}

			b {
				color: $color12;
				margin-right: 16px;
			}

			i {
				color: $color02;
			}
		}

		.saving {
			.discard-btn {
				@include button3n($color05);
				margin-right: 16px;
			}

			.send-btn {
				@include button3n($color12);
			}
		}
	}

}