<form class="msg-edit"
  ng-cloak
  name="msgEditForm">

  <div class="form-fields-wrap" 
    ng-class="{'form-fields-wrap_with-toolbar': $ctrl.isShowEditorToolbar}">
    <div class="field-wrap border">
      <label>From:</label>
      <div class="field-from">{{::$ctrl.content.alias.mailAddress}}</div>
    </div>

    <div class="field-wrap" to>
      <label class="high">To:</label>
      <md-chips ng-model="$ctrl.content.alias.mailAddressTO"
        md-add-on-blur="true"
        md-autocomplete-snap=""
        md-require-match="false"
        md-separator-keys="$ctrl.keys"
        md-transform-chip="$ctrl.transformAddress('to', $chip)"
        md-on-remove="$ctrl.removeAddress('to', $chip, $index)">
        <md-autocomplete md-selected-item="$ctrl.utility.to.selected"
          md-search-text="$ctrl.utility.to.search"
          md-items="item in $ctrl.queryContactsSearch($ctrl.utility.to.search)"
          md-item-text="item.nickName"
          md-min-length="2"
          md-delay="300"
          placeholder="Enter a mail address">
          <span>{{item.nickName}} <i>{{item.mails[0]}}</i></span>
        </md-autocomplete>
        <md-chip-template>
          <span ng-class="{mailWrong: ($ctrl.content.mailAddressErrors !== undefined) && ($ctrl.content.mailAddressErrors.indexOf($chip) !== -1)}">
            {{$chip}}
          </span>
        </md-chip-template>
      </md-chips>
      <md-button aria-label="show more"
        ng-click="$ctrl.showMore()"
        class="md-icon-button more">
        <ng-md-icon ng-if="!$ctrl.isShowMoreAddress" icon="expand_more"></ng-md-icon>
        <ng-md-icon ng-if="$ctrl.isShowMoreAddress" icon="expand_less"></ng-md-icon>
      </md-button>
    </div>

    <div class="field-wrap" more>
      <label class="high">Copy:</label>
      <md-chips ng-model="$ctrl.content.alias.mailAddressCC"
        md-add-on-blur="true"
        md-autocomplete-snap=""
        md-require-match="false"
        md-separator-keys="$ctrl.keys"
        md-transform-chip="$ctrl.transformAddress('cc', $chip)"
        md-on-remove="$ctrl.removeAddress('cc', $chip, $index)">
        <md-autocomplete md-selected-item="$ctrl.utility.cc.selected"
          md-search-text="$ctrl.utility.cc.search"
          md-items="item in $ctrl.queryContactsSearch($ctrl.utility.cc.search)"
          md-item-text="item.nickName"
          md-min-length="2"
          md-delay="300"
          placeholder="Enter a mail address">
          <span>{{item.nickName}} <i>{{item.mails[0]}}</i></span>
        </md-autocomplete>
        <md-chip-template>
          <span ng-class="{mailWrong: ($ctrl.content.mailAddressErrors !== undefined) && ($ctrl.content.mailAddressErrors.indexOf($chip) !== -1)}">
            {{$chip}}
          </span>
        </md-chip-template>
      </md-chips>
    </div>

    <div class="field-wrap" more>
      <label class="high">Hidden Copy:</label>
      <md-chips ng-model="$ctrl.content.alias.mailAddressBC"
        md-add-on-blur="true"
        md-autocomplete-snap=""
        md-require-match="false"
        md-separator-keys="$ctrl.keys"
        md-transform-chip="$ctrl.transformAddress('bc', $chip)"
        md-on-remove="$ctrl.removeAddress('cc', $chip, $index)">
        <md-autocomplete md-selected-item="$ctrl.utility.bc.selected"
          md-search-text="$ctrl.utility.bc.search"
          md-items="item in $ctrl.queryContactsSearch($ctrl.utility.bc.search)"
          md-item-text="item.nickName"
          md-min-length="2"
          md-delay="300"
          placeholder="Enter a mail address">
          <span>{{item.nickName}} <i>{{item.mails[0]}}</i></span>
        </md-autocomplete>
        <md-chip-template>
          <span ng-class="{mailWrong: ($ctrl.content.mailAddressErrors !== undefined) && ($ctrl.content.mailAddressErrors.indexOf($chip) !== -1)}">
            {{$chip}}
          </span>
        </md-chip-template>
      </md-chips>
    </div>

    <msg-attach attached="$ctrl.content.attached"
      attachments="$ctrl.currentAttachments"
      source-msg-id="$ctrl.content.sourceMsgId"
      msg-id="$ctrl.content.msgId">
    </msg-attach>

    <div class="field-wrap border">
      <label>Subject:</label>
      <md-input-container>
        <input type="text"
          aria-label="subject"
          ng-model="$ctrl.content.subject">
      </md-input-container>
    </div>

    <ng-quill-editor ng-model="$ctrl.content.bodyHTML">
    </ng-quill-editor>
  </div>

  <div class="form-actions-wrap"
    ng-class="{'form-actions-wrap_with-toolbar': $ctrl.isShowEditorToolbar}">
    <md-button aria-label="toogle editor toolbar"
      ng-click="$ctrl.showEditorToolbar()"
      class="md-icon-button more editorToolbar">
      <ng-md-icon icon="format_color_text"></ng-md-icon>
    </md-button>
    <div class="saving">
      <md-button aria-label="cancel create message"
        ng-click="$ctrl.cancelEditMsg()"
        class="md-raised discard-btn">
        DISCARD
      </md-button>
      <md-button aria-label="send message"
        ng-click="$ctrl.runSendMsg()"
        ng-disabled="($ctrl.content.mailAddressTO.length + $ctrl.content.mailAddressCC.length + $ctrl.content.mailAddressBC.length) === 0"
        class="md-raised send-btn">
        SEND
      </md-button>
    </div>
  </div>

</form>
