$color00: rgba(0, 0, 0, 0.05);
$color01: rgba(0, 0, 0, 0.87);
$color02: rgba(0, 0, 0, 0.54);
$color03: rgba(0, 0, 0, 0.12);
$color04: #FF5722;
$color05: #F44336;
$color06: #4CAF50;
$color07: #455A64;
$color08: #607D8B;
$color09: #81D4FA;
$color10: rgba(0, 0, 0, 0.38);
$color11: rgba(0, 0, 0, 0.67);
$color12: #3675a8;
$color13: #195f97;
$color14: #ffc765;
$color15: #e3ecf2;
$color16: #b3cbde;
$color17: #E57373;
$color18: #4faaf4;
$color19: #323232;

$box-height-01: 48px;
$box-height-02: 72px;
