@import '../../../config';

.msg-attach {
  position: relative;
  width: 100%;
  min-height: 48px;
  max-height: 160px;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);

  .attach-actions, .attach-list {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: bold;
  }

  .attach-actions {
    align-items: center;
    align-content: center;
    height: 48px;
    padding: 0 56px 0 16px;
    background-color: $color03;

    .actions {
      a {
        cursor: pointer;

        &.attach {
          color: $color12;
        }

        &.delete {
          color: $color05;
        }
      }
    }

    .open {
      position: absolute;
      top: 8px;
      right: 8px;
      margin: 0;

      ng-md-icon {
				fill: $color02;
			}
    }
  }

  .attach-list {
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    min-height: 56px;
    height: auto;
    max-height: 96px;
    padding: 0 16px;
    overflow-y: auto;

    .attach-item {
      position: relative;
      height: 36px;
      max-width: 100%;
      padding: 0 32px 0 16px;
      border-radius: 16px;
      border: 1px solid $color12;
      margin: 6px 4px 6px 0;
      user-select: none;

      ng-md-icon[icon="close"] {
        position: absolute;
        margin: 0;
        fill: $color12;
        top: 6px;
        right: 6px;
        cursor: pointer;

        &:focus {
          outline-width: 0;
        }
      }

      .filename {
        position: relative;
        height: 34px;
        width: 100%;
        line-height: 34px;
        color: $color12;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;

        &:focus {
          outline-width: 0;
        }

        ng-md-icon[icon="file_download"] {
          position: absolute;
          margin: 0;
          top: 6px;
          fill: $color14;
          left: calc(50% - 12px);
          opacity: 0;
          transition: opacity 0.5s ease-out;
        }

        &:hover {
          ng-md-icon[icon="file_download"] {
            opacity: 1;
          }
        }
      }

    }
  }
}