@import '../../config';

.mail-folder {
  position: relative;
  width: 100%;
  height: 100%;

  .msg-list {
    position: relative;
    width: 380px;
    height: 100%;

    .msg-list-filter {
      position: relative;
      width: 100%;
      height: 64px;
      padding: 0 16px;

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 1px;
        left: 0;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      }

      .filter-info {
        color: $color02;
        font-weight: bold;
        font-style: italic;
      }
    }

    .msg-list-body {
      position: relative;
      width: 100%;
      height: calc(100% - 64px);
      overflow-x: hidden;
      overflow-y: auto;

      .msg-list-item {
        position: relative;
        width: 100%;
        height: 72px;
        padding: 0 16px 0 8px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
        cursor: pointer;

        &:focus {
          outline-width: 0;
        }
      }

      .msg-list-select {
        background-color: rgba(160, 209, 249, 0.54);
      }
    }
  }

  .msg-content {
    position: relative;
    width: calc(100% - 380px);
    height: 100%;
    background-color: $selectedColor;

    img {
      position: absolute;
      left: calc(50% - 111px);
      top: calc(50% - 128px);
      opacity: 0.3;
    }
  }
}