<section class="msg-tags">
	<md-button class="md-icon-button msg-tags__add"
		aria-label="add tag"
		ng-click="$ctrl.openTagModal($event)">
		<md-tooltip md-direction="top">Add tag</md-tooltip>
		<ng-md-icon icon="add_circle_outline"></ng-md-icon>
	</md-button>
	<div class="msg-tags__content">
		{{$ctrl._cacheSrv.messages.list[$ctrl.msgId].labels.join(', ')}}
	</div>
</section>

<div id="msgTagModalWrap">
	<div id="msgTagModal">
		<div id="modalTriangle" class="modal__triangle"></div>
		<div class="modal__content">
			<div class="modal__content--header">
				<input type="text"
					name="tag-name" 
					placeholder="Enter tag name"
					ng-model="$ctrl.tagName"
					ng-keyup="$ctrl.keyupHandler($event)"
					data-modal="input"/>
					<md-button class="md-icon-button ok" 
						ng-if="$ctrl.tagName.length > 1"
						ng-click="$ctrl.addNewTag()"
						aria-label="add new tag"
						data-modal="create">
						<ng-md-icon icon="done" size="24" data-modal></ng-md-icon>
					</md-button>
					<md-button class="md-icon-button cancel" 
						ng-if="$ctrl.tagName.length > 1"
						ng-click="$ctrl.cancelCreateTag()"
						aria-label="cancel create tag"
						data-modal="cancel">
						<ng-md-icon icon="cancel" size="24" data-modal></ng-md-icon>
					</md-button>
			</div>
			<div class="modal__content--body">
				<div class="modal__content--body-notadded">
					<p class="modal__content--body-title">
						Not added tags:
					</p>
					<div ng-repeat="tag in $ctrl.addedFilter() | filter: {name: $ctrl.tagName}"
						class="modal__content--body-item"
						ng-click="$ctrl.addTagToMsg($event, tag)"
						data-modal="notadded">
						{{tag.name}}
					</div>
				</div>
				<div class="modal__content--body-added">
					<p class="modal__content--body-title">
						Added tags:
					</p>
					<div ng-repeat="tagA in $ctrl._cacheSrv.messages.list[$ctrl.msgId].labels"
						class="modal__content--body-item"
						ng-click="$ctrl.removeTagFromMsg($event, tagA)"
						data-modal="added">
						{{tagA}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>