<section class="chat-msg-create" ng-cloak>
  <div class="chat-msg-create__wrapper">
    <md-button class="md-icon-button"
      ng-disabled="true"
      aria-label="Additional">
      <ng-md-icon icon="add"></ng-md-icon>
    </md-button>
    <md-button class="md-icon-button"
      aria-label="Emoticon"
      ng-click="$ctrl.openEmojiList()">
      <ng-md-icon icon="insert_emoticon"></ng-md-icon>
    </md-button>
    <md-button class="md-icon-button"
      aria-label="Files"
      ng-click="$ctrl.attachFiles()">
      <ng-md-icon icon="attach_file"></ng-md-icon>
    </md-button>
    <md-input-container class="chat-msg-create__input-field"
      md-no-float>
      <textarea id="inputField"
        rows="2"
        max-rows="4"
        md-no-resize="true"
        placeholder="Please enter text here"
        ng-model="$ctrl.inputField">
      </textarea>
    </md-input-container>
    <md-button class="md-icon-button send-btn"
      aria-label="Send"
      ng-disabled="!$ctrl.inputField"
      ng-click="$ctrl.createMsg()">
      <ng-md-icon icon="send"></ng-md-icon>
    </md-button>
  </div>
</section>