@import "../../config";

.chat-msg-create {
  position: relative;
  width: 100%;
  height: 100%;

  &__wrapper {
    position: relative;
    width: 654px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: calc(50% - 279px);
    margin-left: calc(50% - 279px - 96px);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    button {
      display: inline-block;
      width: 48px !important;
      height: 48px !important;
      padding-top: 0;
      margin: 0 !important;
      top: -8px;

      ng-md-icon {
        fill: $color02;
      }

      &.send-btn {
        ng-md-icon {
          fill: $color12;
        }

        &[disabled] {
          ng-md-icon {
            fill: $color02;
          }
        }
      }
    }
  }

  &__input-field {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 462px;
    min-height: 40px;
    max-height: 124px;
    margin: 0;

    .md-errors-spacer {
      display: none;
    }

    textarea {
      height: 40px;
      font-size: 14px;
      line-height: 20px;
      color: $color01;
      padding-top: 0;
      border: none !important;

      &::-webkit-input-placeholder {
        font-style: italic;
      }
    }
  }
}